body {
	font-size: 25px;
	color: #fff;
	background-color: #009688;
	font-family: 'Ubuntu', sans-serif;
}

#header-nav {
	background-color: #dd4b39;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 15px;
}

.navbar-brand h1 {
	font-family: 'Ubuntu', sans-serif;
	color: white;
	font-size: 1.9em;
	font-weight: bolder;
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
}

#nav-list a {
	color: #fff;
	background: #25d366;
	text-align: center;
}

#nav-list a:hover {
	background: #03a9f4;
}

.navbar-header button.navbar-toggle {
	border: 1px solid black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-header button.navbar-toggle {
/*	clear: both;*/
	margin-top: 5px;
}

#main-content #menu-title {
	font-size: 1.4em;
	font-style: italic;
	font-weight: bold;
	margin-top: 0;
}

#menu-content {
	margin-top: 15px;
	background: #3b5999;
	color: #fff;

}

#menu-content h3 {
	font-size: 1em;
	text-transform: capitalize;
	margin-bottom: 0px;
}

#menu-content p {
	font-size: 0.8em;
	margin-top: 5px;
	padding: 15px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

hr {
	width: 80%;
}